<template>
  <section class="gl-h-full gl-display-flex gl-flex-direction-column gl-gap-6">
    <h2 class="gl-font-size-h2">
      <gl-sprintf :message="subheading">
        <template #date>{{ date }}</template>
        <template #commit>
          <gl-link :href="commitUrl" class="gl-font-size-h2">{{ shortCommit }}</gl-link>
          <copy-button
            label="Copy commit hash to clipboard"
            :text="commit"
            size="small"
            category="tertiary"
          />
        </template>
      </gl-sprintf>
    </h2>

    <div class="gl-display-flex gl-gap-5 gl-flex-shrink-0">
      <scim-filter v-model="query" class="gl-flex-grow-1" @filter="onFilterUpdate" />
      <group-by v-model="groupBy" @input="persistQuery" />
    </div>

    <gl-loading-icon v-if="pending" size="xl" />

    <scan-failed-to-load-alert v-else-if="errors.length > 0" :errors="errors" />

    <template v-else>
      <scan-tree-map
        v-if="hasResults"
        :scan="filteredScan"
        :group-by="groupBy"
        class="gl-flex-grow-1 gl-min-h-0 gl-flex-basis-0"
        @chartItemClicked="onChartItemClicked"
      />

      <gl-alert v-else title="Your search returned no results" :dismissible="false" variant="info">
        Please try a different search term!
      </gl-alert>
    </template>

    <findings-drawer
      v-if="activeNode"
      :open="showRules"
      :node="activeNode"
      :node-path="activeNodePath"
      :findings="findingsForNode"
      :commit="commit"
      @close="onRulesClose"
    />
  </section>
</template>

<script>
import cloneDeep from 'lodash/cloneDeep';
import GlAlert from '@gitlab/ui/src/components/base/alert/alert.vue';
import GlLink from '@gitlab/ui/src/components/base/link/link.vue';
import GlLoadingIcon from '@gitlab/ui/src/components/base/loading_icon/loading_icon.vue';
import GlSprintf from '@gitlab/ui/src/components/utilities/sprintf/sprintf.vue';
import CopyButton from '~/components/copy_button.vue';
import GroupBy, { groupByOptions } from '~/components/group_by.vue';
import FindingsDrawer from '~/components/findings_drawer.vue';
import ScanFailedToLoadAlert from '~/components/scan_failed_to_load_alert.vue';
import ScanTreeMap from '~/components/scan_tree_map.vue';
import ScimFilter from '~/components/scim_filter.vue';
import { getScansSummary, getCurrentScan } from '~/lib/api';
import { GITLAB_REPO_WEB_URL } from '~/lib/constants';
import { getScim2Filter } from '~/lib/misc';
import { findingsForNode } from '~/lib/treemap';

export default {
  name: 'IndexPage',
  components: {
    CopyButton,
    GlAlert,
    GlLink,
    GlLoadingIcon,
    GlSprintf,
    GroupBy,
    FindingsDrawer,
    ScanFailedToLoadAlert,
    ScanTreeMap,
    ScimFilter,
  },
  data() {
    let { search: query, groupBy } = this.$route?.query ?? {};

    // Handle parameters like `?search=&groupBy=`, which Vue Router returns as
    // `null` rather than `undefined or the empty string.
    query = query ?? '';
    groupBy = groupBy ?? groupByOptions[0].value;

    const { filterFn } = getScim2Filter(query);

    return {
      commit: '',
      date: '',
      scan: null,
      groupBy,
      showRules: false,
      chartItemClickedParams: null,
      query,
      filter: filterFn,
    };
  },
  async fetch() {
    const scans = await getScansSummary();
    this.commit = scans.current.commit;
    this.date = scans.current.date;
    this.scan = await getCurrentScan();
    this.logScanWarningsAndErrors();
  },
  fetchOnServer: false,
  computed: {
    pending() {
      return this.$fetchState?.pending;
    },
    errors() {
      const scanErrors = this.scan?.errors?.filter((error) => error.level === 'error') ?? [];
      return [this.$fetchState?.error, ...scanErrors].filter(Boolean);
    },
    loaded() {
      return !this.pending && this.errors.length === 0;
    },
    findingsForNode() {
      return findingsForNode(this.scan, this.activeNode);
    },
    activeNode() {
      return this.chartItemClickedParams?.data;
    },
    activeNodePath() {
      return this.chartItemClickedParams?.treePathInfo.map(({ name }) => name);
    },
    hasResults() {
      return this.loaded && this.filteredScan?.results?.length > 0;
    },
    filteredScan() {
      const { scan } = this;
      const { results = [] } = scan ?? {};

      const filteredResults = results.filter(this.filter);

      return { ...scan, results: filteredResults };
    },
    commitUrl() {
      return this.commit ? `${GITLAB_REPO_WEB_URL}/-/commit/${this.commit}` : '#';
    },
    shortCommit() {
      return this.commit.slice(0, 8);
    },
    subheading() {
      return this.loaded ? 'Findings as of %{date} (%{commit})' : 'Findings as of ...';
    },
  },
  mounted() {
    window.addEventListener('popstate', this.onPopstate);
  },
  beforeDestroy() {
    window.removeEventListener('popstate', this.onPopstate);
  },
  methods: {
    onFilterUpdate(filter) {
      this.filter = filter;
      this.persistQuery();
    },
    persistQuery() {
      const query = {};
      if (this.query.trim()) {
        query.search = this.query.trim();
      }
      if (this.groupBy !== groupByOptions[0].value) {
        query.groupBy = this.groupBy;
      }
      this.$router.push({ query });
    },
    onPopstate() {
      const searchParams = new URLSearchParams(window.location.search);
      this.query = searchParams.get('search') ?? '';
      this.groupBy = searchParams.get('groupBy') ?? groupByOptions[0].value;
    },
    onChartItemClicked({ params }) {
      this.showRules = true;
      this.chartItemClickedParams = params;
    },
    onRulesClose() {
      this.showRules = false;
    },
    logScanWarningsAndErrors() {
      this.scan.errors.forEach((error) => {
        // eslint-disable-next-line no-console
        const method = console[error.level] ?? console.log;
        method(`[${error.level} from scan]: ${error.message}`, cloneDeep(error));
      });
    },
  },
};
</script>
