<template>
  <section>
    <h2 class="gl-font-size-h2">Defined rules as of {{ date }}</h2>

    <gl-loading-icon v-if="pending" size="xl" />

    <scan-failed-to-load-alert v-else-if="errors.length > 0" :errors="errors" />

    <gl-tabs v-else content-class="gl-pt-0" sync-active-tab-with-query-params>
      <gl-tab title="By rule ID" query-param-value="by-id">
        <gl-table-lite v-bind="allRulesTableDataProps">
          <template #cell(id)="{ item }">{{ shortId(item.id) }}</template>
        </gl-table-lite>
      </gl-tab>
    </gl-tabs>
  </section>
</template>

<script>
import GlLoadingIcon from '@gitlab/ui/src/components/base/loading_icon/loading_icon.vue';
import GlTab from '@gitlab/ui/src/components/base/tabs/tab/tab.vue';
import GlTabs from '@gitlab/ui/src/components/base/tabs/tabs/tabs.vue';
import GlTableLite from '@gitlab/ui/src/components/base/table/table.vue';
import { shortId } from 'shared/rules.js';
import ScanFailedToLoadAlert from '~/components/scan_failed_to_load_alert.vue';
import { getCurrentScan, getRules, getScansSummary } from '~/lib/api';
import { allRulesTableDataProps } from '~/lib/rules_table';

export default {
  name: 'RulesPage',
  components: {
    GlLoadingIcon,
    GlTab,
    GlTabs,
    GlTableLite,
    ScanFailedToLoadAlert,
  },
  layout: 'body_scroll',
  data() {
    return {
      scan: null,
      rules: null,
      date: '...',
    };
  },
  async fetch() {
    const [scans, scan, rules] = await Promise.all([
      getScansSummary(),
      getCurrentScan(),
      getRules(),
    ]);

    this.date = scans.current.date;
    this.scan = scan;
    this.rules = rules;
  },
  fetchOnServer: false,
  computed: {
    pending() {
      return this.$fetchState?.pending;
    },
    errors() {
      const { error } = this.$fetchState;
      return error ? [error] : [];
    },
    allRulesTableDataProps() {
      return allRulesTableDataProps(this.scan, this.rules);
    },
  },
  methods: {
    shortId,
  },
};
</script>
