@font-face {
  font-family: 'GitLab Sans';
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
  src: url('@gitlab/fonts/gitlab-sans/GitLabSans.woff2') format('woff2');
}

@font-face {
  font-family: 'JetBrains Mono';
  font-display: swap;
  font-style: normal;
  src: url('@gitlab/fonts/jetbrains-mono/JetBrainsMono.woff2') format('woff2');
}
