<template>
  <div class="gl-h-full gl-display-flex gl-flex-direction-column gl-overflow-hidden">
    <page-header class="gl-flex-shrink-0" />

    <main class="gl-flex-grow-1 gl-p-6">
      <nuxt />
    </main>
  </div>
</template>

<script>
import PageHeader from '~/components/page_header.vue';

export default {
  name: 'DefaultLayout',
  components: {
    PageHeader,
  },
};
</script>
