<template>
  <gl-button
    :id="buttonId"
    v-gl-tooltip.focus.hover
    :title="localLabel"
    :data-clipboard-text="text"
    :aria-label="label"
    icon="copy-to-clipboard"
    v-bind="$attrs"
  />
</template>

<script>
import GlButton from '@gitlab/ui/src/components/base/button/button.vue';
import { GlTooltipDirective } from '@gitlab/ui/src/directives/tooltip';
import ClipboardJS from 'clipboard';
import uniqueId from 'lodash/uniqueId';

export default {
  name: 'CopyButton',
  components: {
    GlButton,
  },
  directives: {
    GlTooltip: GlTooltipDirective,
  },
  props: {
    label: {
      type: String,
      required: true,
    },
    text: {
      type: String,
      required: false,
      default: '',
    },
  },
  data() {
    return {
      buttonId: uniqueId('copy-button-'),
      localLabel: this.label,
    };
  },
  mounted() {
    this.$nextTick(() => {
      this.clipboard = new ClipboardJS(this.$el);
      this.clipboard
        .on('success', (e) => {
          this.updateTooltip('Copied!');
        })
        .on('error', (e) => {
          this.updateTooltip('Failed to copy');
        });
    });
  },
  destroyed() {
    clearTimeout(this.labelTimer);

    if (this.clipboard) {
      this.clipboard.destroy();
    }
  },
  methods: {
    updateTooltip(label) {
      this.localLabel = label;
      this.$root.$emit('bv::show::tooltip', this.buttonId);

      clearTimeout(this.labelTimer);
      this.labelTimer = setTimeout(() => {
        this.$root.$emit('bv::hide::tooltip', this.buttonId);
        this.localLabel = this.label;
      }, this.$options.tooltipDuration);
    },
  },
  tooltipDuration: 1000,
};
</script>
