<template>
  <header
    class="gl-display-flex gl-align-items-center gl-px-5 gl-py-3 gl-bg-gray-10 gl-border gl-border-gray-50"
  >
    <img
      src="~/assets/images/vue_logo.svg"
      alt=""
      class="vue-logo-dimensions gl-align-self-center"
    />

    <h1 class="gl-font-size-h1 gl-ml-3 gl-mr-3">
      <span class="gl-font-monospace">@vue/compat</span>
      <div class="gl-font-sm gl-font-weight-normal gl-text-gray-500">Scanner Dashboard</div>
    </h1>

    <nav aria-label="Pages">
      <ul class="gl-display-flex gl-list-style-none gl-m-0 gl-p-0">
        <li v-for="(text, route) in $options.links" :key="route" class="gl-ml-3">
          <gl-link v-if="route.startsWith('https:')" :class="$options.linkClass" :href="route">
            {{ text }}
            <gl-icon name="external-link" :size="14" />
          </gl-link>
          <nuxt-link
            v-else
            :to="route"
            exact-path
            active-class="gl-bg-gray-50"
            :class="$options.linkClass"
            >{{ text }}</nuxt-link
          >
        </li>
      </ul>
    </nav>
  </header>
</template>

<script>
import GlIcon from '@gitlab/ui/src/components/base/icon/icon.vue';
import GlLink from '@gitlab/ui/src/components/base/link/link.vue';

export default {
  name: 'PageHeader',
  components: {
    GlIcon,
    GlLink,
  },
  links: {
    '/': 'Current',
    '/history': 'History',
    '/rules': 'Rules',
    'https://gitlab.com/gitlab-org/frontend/playground/vue-compat-scanner': 'Repository',
  },
  linkClass:
    'gl-font-base gl-text-body gl-text-decoration-none! gl-hover-bg-gray-50 gl-hover-text-gray-900 gl-rounded-base gl-p-3',
};
</script>
