<template>
  <div>
    {{ message }}
    <details v-if="fullError" class="gl-mb-3">
      <summary>Click to show full error</summary>
      <pre>{{ fullError }}</pre>
    </details>
  </div>
</template>

<script>
export default {
  name: 'RenderError',
  props: {
    error: {
      type: Object,
      required: true,
    },
  },
  computed: {
    message() {
      const { error } = this;
      const type = error.type ? `${error.type}: ` : '';
      const shortMessage = error.short_msg ? `${error.short_msg}: ` : '';
      const message = error.long_msg ?? error.message;

      return `${type}${shortMessage}${message}`;
    },
    fullError() {
      const isSemgrepError = 'level' in this.error;
      return isSemgrepError ? JSON.stringify(this.error, null, 2) : null;
    },
  },
};
</script>
