<template>
  <div class="gl-border-b gl-mb-5">
    <div class="gl-line-height-20">
      <gl-badge v-tooltip="details.message" :variant="details.variant">
        {{ details.ruleName }}
      </gl-badge>
      <div class="gl-display-flex gl-align-items-center">
        <gl-link :href="details.url" target="_blank" class="gl-min-w-0"
          ><gl-truncate :text="details.pathWithLine" position="start"
        /></gl-link>

        <copy-button
          label="Copy path to clipboard"
          :text="details.path"
          size="small"
          category="tertiary"
          class="gl-flex-shrink-0"
        />
      </div>
    </div>
    <mark-lines
      :lines="source.extra.lines"
      :start="source.start"
      :end="source.end"
      class="gl-white-space-pre-wrap gl-bg-gray-50 gl-mx-n5 gl-px-6 gl-py-3"
    />
  </div>
</template>

<script>
import GlBadge from '@gitlab/ui/src/components/base/badge/badge.vue';
import GlLink from '@gitlab/ui/src/components/base/link/link.vue';
import GlTruncate from '@gitlab/ui/src/components/utilities/truncate/truncate.vue';
import { GlTooltipDirective } from '@gitlab/ui/src/directives/tooltip';
import { shortId } from 'shared/rules.js';
import CopyButton from '~/components/copy_button.vue';
import MarkLines from '~/components/mark_lines.vue';
import { GITLAB_REPO_WEB_URL } from '~/lib/constants';

export default {
  name: 'ScanFinding',
  components: {
    CopyButton,
    GlBadge,
    GlLink,
    GlTruncate,
    MarkLines,
  },
  directives: {
    tooltip: GlTooltipDirective,
  },
  props: {
    index: {
      type: Number,
      required: true,
    },
    source: {
      type: Object,
      required: true,
    },
    commit: {
      type: String,
      required: true,
    },
  },
  computed: {
    details() {
      const { extra, path } = this.source;
      const { severity, message } = extra;
      const { line: start } = this.source.start;
      const { line: end } = this.source.end;
      const pathWithLine = start === end ? `${path}#L${start}` : `${path}#L${start}-${end}`;
      const variant =
        {
          ERROR: 'danger',
          WARNING: 'warning',
          INFO: 'info',
        }[severity] ?? 'neutral';

      return {
        ruleName: shortId(this.source.check_id),
        severity,
        message,
        path,
        pathWithLine,
        url: `${GITLAB_REPO_WEB_URL}/-/blob/${this.commit}/${pathWithLine}`,
        variant,
      };
    },
  },
};
</script>
